

.hr {
  border: none; 
  height: 2px; 
  background-color: rgba(192, 191, 191, 0.306); 
  width: 100vw; 
  position: relative; 
  left: 50%; 
  margin-left: -50vw; 
  margin-top: 20px; 
  margin-bottom: 20px; 
}



header .all {
  justify-content: space-between;
  height: 50px;
  display: flex;
  text-align: center;
}

.all {
  padding: 0 40px;
  box-sizing: border-box;
}
