.hr {
  border: none; 
  height: 2px; 
  background-color: rgba(192, 191, 191, 0.306); 
  width: 100vw; 
  position: relative; 
  left: 50%; 
  margin-left: -50vw; 
  margin-top: 20px; 
  margin-bottom: 20px; 
}

.btnOpen {
  display: none;
}

header .all {
  justify-content: space-between;
  display: flex;
  text-align: center;
}

.SB {
  display: flex;
}

.hLogo {
  display: none;
}

.sidebar {
  display: none;
}

@media (max-width: 968px) {
  header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    background-color: rgba(245, 245, 245, 0.96);
    top: 0;
    left: 0;
    /*0 - up | 0 - right | 0 - down | 0 - left*/
    padding: 30px 0 10px 0px;
  }

  header .all {
    display: flex;
    justify-content: space-around;
  }

  .sidebar {
    position: fixed;
    display: block;
    top: 95px; 
    left: -100%; 
    width: 100%;
    height: 9999999px;
    background-color: rgba(245, 245, 245, 0.96);
    transition: left 0.4s ease; 
    padding-top: 60px; 
    z-index: 100; 
  }

  .sidebar.open {
    left: 0; 
  }

  .navList {
    list-style: none;
    padding: 0;
    margin-top: -60px;

  }
  
  .navList li {
    padding: 15px 10px;
    font-size: 0.8rem;
    font-weight: 500;
  }
  
  .navLink {
    text-decoration: none;
    color: #374545;
  } 

  .navLinkDirections {
    text-decoration: none;
    color: #374545;
  }

  .navLinkDevelopments {
    text-decoration: none;
    color: #374545;
  }

  .btnPlusDir.activeBtnPlusDir {
    color: pink;
  }

  .btnPlusDev.activeBtnPlusDev {
    color: pink;
  }
  
  .btnOpen {
    display: block;
    color: #374545;
    border: none;
    font-size: 40px;
    margin-top: -10px;
    background-color: rgba(245, 245, 245, 0.96);
  }
  
  .btnOpen.active {
    color: pink;
    transition: all 0.5s ease;
  }

  .SB {
    display: none;
  }

  .hLogo {
    display: flex;
    text-align: center;
    margin-top: -20px;
  }

  .hLogo img {
    width: 150px;
    height: 75px;
  }

  .blockInput {
    text-align: center;
  }

  .inputSearch {
    border: 1px solid pink;
    border-radius: 30px;
    width: 200px;
    background-color: transparent;
    color: #374551;
    padding: 10px 15px;
  }

  .hr {
    margin-top: 80px;
  }

  .btnPlusDir {
    border: none;
    background-color: transparent;
    font-size: 1.1rem;
  }

  .btnPlusDev {
    border: none;
    background-color: transparent;
    font-size: 1.1rem;
  }

  .subdivisionNavDirLi {
    text-decoration: none;
    color: #374545;
  }

  .subdivision {
    overflow: hidden;
    transition: max-height 0.7s ease, opacity 0.4s ease;
    max-height: 0; 
    opacity: 0; 
  }

  .subdivision.openDev {
    display: inline;
  }
  
  .subdivision.openDir {
    max-height: fit-content;
    opacity: 1; 
  }
}

