.Fa-Phone {
  font-size: 20px;
  cursor: pointer;
  background-color: pink;
  border-radius: 30px;
  color: #374551;
  padding: 12px;
}

.Fa-Phone:hover {
  color: white;
  background-color: #374551;
  transition: all 0.7s ease;
}

@media (max-width: 968px) {
  
}