.div-heart {
  display: inline-block;
  margin-left: 40px;
}

.nav {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 10px 20px; 
}

.container {
  position: relative; 
}

.btnOpen {
  display: none; 
  font-size: 30px;
  cursor: pointer;
}

.nav-list {
  display: flex; 
  justify-content: flex-end; 
  margin: 0;
  padding: 0;
}

.nav-list li {
  margin-right: 40px; 
}

.nav-link {
  text-decoration: none;
  color: lightseagreen;
  border-radius: 3px;
  cursor: pointer;
}

.nav-link:hover {
  color: rgb(0, 255, 213);
  transition: all 0.7s ease;
}

ul, ul li {
  list-style-type: none;
}

@media (max-width: 860px) {
  .btnOpen {
    display: block;
    background-color: lightseagreen;
    color: #374545;
    border: none;
    font-size: 60px;
    border-radius: 15px; 
  }

  .nav-list {
    display: none; 
    flex-direction: column; 
    margin-left: -160px;
    margin-top: -80px;
    background-color: transparent;
    width: 130px; 
    padding: 10px 10px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3); 
    z-index: 1000;
    border-radius: 15px;
  }

  .nav-list.active {
    display: flex; 
  }

  .nav-list li {
    margin-right: 0; 
    margin-bottom: 10px; 
  }
}
