.div-heart {
  display: inline-block;
  margin-left: 40px;
}

.div-heart img {
  width: 130%;
  height: 6rem;
  cursor: pointer;
  margin-left: -75px;
}

.nav {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 10px 20px; 
}

.container {
  position: relative; 
}

.nav-list {
  display: flex; 
  justify-content: flex-end; 
  margin: 0;
  padding: 0;
}

.nav-list li {
  margin-right: 40px; 
  font-size: 0.8rem;
  font-weight: 500;
}

.nav-link {
  text-decoration: none;
  color: #374545;
  border-radius: 3px;
  cursor: pointer;
}

.nav-link:hover {
  color: pink;
  transition: all 0.7s ease;
}

ul, ul li {
  list-style-type: none;
}

 @media (max-width: 968px) {
  .Logo {
    display: none;
  }

  .nav-link {
    display: none;
  }
} 
