.hr-footer {
  border: none; 
  height: 3px; 
  background-color: rgba(192, 191, 191, 0.306); 
  width: 100vw; 
  position: relative; 
  left: 50%; 
  margin-left: -50vw; 
  margin-top: 20px; 
}

.footerContent {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

@media (max-width: 968px) {
  .footerMainBlock img {
    display: none;
  }

  .footerBtn {
    display: none;
  }

  /* .footerMail {
    display: inline;
    justify-content:center;
    align-items: center;
  } */

  .footerContent {
    display: flex;
    text-align: center;
    justify-items: center;
    justify-content: center;
  }
}