
.main-div span {
  font-size: 15px;
  line-height: 2.2rem;
  color: #374545;
  font-weight: 700;
  opacity: 0.7;
}

.name-hospital h1 {
  font-size: 1.7rem;
}

@media (max-width: 968px) {
  .name-hospital h1 {
    font-size: 16px;
  }

  .main-div span {
    font-size: 15px;
    line-height: 2.2rem;
    color: #374545;
    font-weight: 700;
    opacity: 0.7;
  }
}

