.Button {
  font-family: 'Segoe UI', sans-serif;
  background-color: #374551;
  color: rgba(255, 255, 255, 0.681);
  border: 1px solid transparent;
  border-radius: 30px;
  cursor: pointer;
  padding: 12px 20px 13px;
  font-size: 12px;
  font-weight: 600;
}

.Button:hover {
  background-color: pink;
  transition: all 0.7s ease;
  color: #374551;
}

@media (max-width: 968px) {
  .Button:hover {
    background-color: #374551;
    color: rgba(255, 255, 255, 0.681);
  }

  .btnHeader {
    text-align: center;
  }

  .Button {
    margin-top: 20px;
  }
}